<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Something went wrong...</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>

	<div class="container">

		<h1>Something went wrong...</h1>

		<div class="row bloc">
			<div class="col-md-12">
				<p class="well">
					<span class="lead"><strong>{{ code }} - {{ message }}</strong></span><br>
					{{ description|raw }}
					{{ tabTrace|raw }}
				</p>
			</div>
		</div>

	</div>

</body>

</html>
